{% extends "main-layout" %}

{% block title %}{{ i18n("labels", "login") | capitalize }}{% endblock %}

{% block content %}

<div class="container">
    <div class="col-sm-12">
        <div class="row">
            <div id="errorBox" class="errorBox notification">
                <p>{{ i18n("labels", "error-input-data") | capitalize }}</p>
                <span class="closeErrorWindow">OK</span>
            </div>

            <div class="col-md-6 sep">
                <form class="register-form" id="loginFormDoctor">
                    <p class="form-title">{{ i18n("labels", "doctor-login") | capitalize }}</p>

                    <div class="row-form">
                        <label for="userInputDoctor">{{ i18n("labels", "user-input") | capitalize }}</label>
                        <input class="input-doctor" type="text" id="userInputDoctor" placeholder=""
                               name="userInputDoctor"
                               autocomplete="userInput">
                    </div>

                    <div class="row-form">
                        <label for="passwordDoctor">{{ i18n("labels", "password") | capitalize }}</label>
                        <input class="input-doctor" type="password" id="passwordDoctor" placeholder=""
                               name="passwordDoctor"
                               autocomplete="current-password">
                    </div>

                    <!--                    <div class="row-form">-->
                    <!--                        <div class="checkbox-wrapper">-->
                    <!--                            <input type="checkbox" id="remember-password-dr" name="remember-password" value="true">-->
                    <!--                            <label for="remember-password-dr">{{ i18n("labels", "remember-password") | capitalize }}</label>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <div class="row-form">
                        <button class="submit-button" id="loginDoctor">{{ i18n("labels", "login") | capitalize }}
                        </button>
                    </div>
                </form>
            </div>


            <div class="col-md-6">
                <form class="register-form" id="loginFormPharmacist">
                    <p class="form-title-pharmacist">{{ i18n("labels", "pharmacist-login") | capitalize }}</p>

                    <div class="row-form">
                        <label for="userInputPharmacist">{{ i18n("labels", "user-input") | capitalize }}</label>
                        <input class="input-pharmacist" type="text" id="userInputPharmacist" placeholder=""
                               name="userInputPharmacist" autocomplete="userInput">
                    </div>

                    <div class="row-form">
                        <label for="passwordPharmacist">{{ i18n("labels", "password") | capitalize }}</label>
                        <input class="input-pharmacist" type="password" id="passwordPharmacist" placeholder=""
                               name="passwordPharmacist" autocomplete="current-password">
                    </div>

                    <!--                    <div class="row-form">-->
                    <!--                        <div class="checkbox-wrapper">-->
                    <!--                            <input type="checkbox" id="remember-password-ph" name="remember-password" value="true">-->
                    <!--                            <label for="remember-password-ph">{{ i18n("labels", "remember-password") | capitalize }}</label>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <div class="row-form">
                        <button class="submit-button-pharmacist" id="loginPharmacist">{{ i18n("labels", "login") | capitalize }}
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/assets/js/login.js"></script>
{% endblock %}