{% extends "main-layout" %}

{% block title %}{{ i18n("labels", "doctor-dashboard") | capitalize }}{% endblock %}

{% block content %}

  <div class="row">
    <div class="col">
      <h1>{{ i18n("labels", "new-prescription") | capitalize }}</h1>
    </div>
  </div>

  <form>
    <div class="form-group form-row">
      <label for="prescription-type" class="col-sm-4 col-form-label">{{ i18n("labels", "prescription-type") | capitalize
}}</label>
      <div class="col-sm-8">
        <select class="form-control" id="prescription-type">
          <option selected>{{ i18n("labels", "choose") | capitalize }}...</option>

          {%- for type in prescriptionTypes %}

          <option value="{{ type }}">{{ i18n("labels", "prescription.lov." + type) | capitalize }}</option>

          {%- endfor %}

        </select>
      </div>
    </div>
    <div class="form-group form-row">
      <label for="personal-number" class="col-sm-4 col-form-label">{{ i18n("labels", "personal-number") | capitalize
}}</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="personal-number" required>
      </div>
    </div>
    <div class="form-group form-row">
      <label for="id-card-number" class="col-sm-4 col-form-label">{{ i18n("labels", "id-card-number") | capitalize
}}</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="id-card-number" required>
      </div>
    </div>
    <div class="form-group form-row">
      <div class="col">
      {{ i18n("labels", "medications") | capitalize }}:
      </div>
    </div>
    <div id="medication-list" class="form-group form-row">
      <div class="col">
        <input type="text" class="form-control" placeholder="{{ i18n("labels", "medication-name") | capitalize }}"
               name="medication_name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="{{ i18n("labels", "recipe") | capitalize }}" name="recipe">
      </div>
      <button type="button" class="btn btn-secondary">+</button>
    </div>
    <button type="submit" class="btn btn-primary">{{ i18n("labels", "create-prescription") | capitalize }}</button>
  </form>

{% endblock %}
